/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.


Colours
Lime green: #b0cc5b;
Light grey: #333;
Medium grey: #c7c7c7;
Dark grey: #424242;

*/
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* Layout placement */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #c7c7c7;
}

body {
    background-color: #c7c7c7;
    margin: 20px;
}

.wrap-all {
    background-color: #fff;
    width: 1100px;
    margin: 0 auto;

}

.outer-wrap  {

}

.inner-wrap  {
    background-color: #fff;
}

.row {
    overflow: auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.block {
    /* margin-bottom: 48px; */
    background-color: #fff;
    padding: 20px;
    display: block;
    overflow: auto;
}

.block h4 {
    text-transform: uppercase;
}

/* Text */
h1 {
    color: #b0cc5b;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

.textcentered {
    text-align: center;
}

/* Links */
a {
    color: #424242;
    font-family: serif;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

a.footer {
    color: #b0cc5b;
}

a.site-logo-text {
    color: #424242;
}

.next-previous {
}

.next {
  float: right;
  margin-bottom: 10px;
}

.previous {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* header */
.outer-wrap-header {
    background-color: #fff;
}

.inner-wrap-header {
    background-color: #b0cc5b;
    padding: 30px;
}

.region-header{
    background-color: yellow;
}

/* header columns: column 1 logo */
.region-header-col-1{
    height: 53px;
    font-size: 30px;
    background-color: #b0cc5b;
    float: left;
    /* border-top: 1px solid #333;
    border-bottom: 1px solid #333; */
}

/* site logo */
.site-logo {
    display: none;
    position :absolute;
    top: 40px;
    left: 40px;
}

.site-logo-text {
    background-color: #b0cc5b;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-family: serif;
    font-size: 1.2em;
    padding-left: .2em
}

.site-logo-text-icon {
    display: none;
}

/* header columns: column 2 navbar */
.region-header-col-2{
    display: inline;
    background-color: #b0cc5b;
    float: right;
    /* border-top: 1px solid #333;
    border-bottom: 1px solid #333; */
}

.outer-wrap-navbar{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.inner-wrap-navbar{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.region-navbar {}
.my-navbar {}
.rm-default {}
.rm-desktop {}
.rm-submenu-button {}

.rm-navbar {
      background-color: #b0cc5b;
}

/* Navbar elements */
/* Style the links inside the navigation bar */
.rm-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b0cc5b;
    /* border-top: 1px solid #333;
    border-bottom: 1px solid #333; */
}

.rm-navbar li {
    float: left;
}

.rm-navbar li a {
    display: block;
    color: #424242;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
.rm-navbar li a:hover {
    background-color: #fff;
}

.rm-navbar a {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #424242;
    font-family: serif;
    font-size: 1.1em;
    /* padding: 10px 20px 0 0; */
    vertical-align: sub;
    text-align: center;
    float: left;

}

/* Add a color to the active/current link */
.rm-navbar a.active {
  background-color: #b0cc5b;
  color: white;
}

/* header columns: column 3 empty */
.region-header-col-3{}

/* Flash Image */
.outer-wrap-flash {
}

.inner-wrap-flash {
    border-bottom: 1px solid #b0cc5b;
    border-top: 1px solid #b0cc5b;
}

.region-flash {}

/* Main */
.outer-wrap-main {
      margin: 10px;
}

.inner-wrap-main {
      margin: 10px;
      padding-bottom:48px
}

.region-main {
      margin: 10px;
}

.article {
    margin: 0 20px;
    margin-bottom:72px;
    color: #424242;
    float: left;
}

/* Figures */
.figure {
    width: 340px;
}

.figure img {
    float: right;
    margin: 10px;
    padding: 10px;
}

.right {
    float: right;
    margin: 10px;
}

.left {
    float: left;
    margin: 10px;
}

figcaption {
    font-size: 0.9em;
    padding: 5px;
    font-style: italic;
    text-align: center;
}

figcaption p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* Byline */
.byline {
    margin: 10px;
    background-color: #eee;
    border: 1px solid #b0cc5b;
    overflow: auto;
}

.byline-textblock {
    width: 75%;
    margin-top: 20px;
}

.author-byline {
    font-style: italic;
    font-size: 0.9em;
}
.byline-figureblock  {
    width: 15%;
}

.byline-figure {
    width: 80px;
    height: auto;
}

/* sidebar */
.wrap-sidebar {
}

.has-sidebar-right {
    max-width: 70%;
    float: left;
}

.has-sidebar-left {
    max-width: 70%;
    float: right;
}

.has-sidebar {}

.region-sidebar-right {
    display: inline;
    float: right;
    width: 25%;
    margin: 0 auto;
    border: 1px dotted #b0cc5b;
    text-align: center;
}

.region-sidebar-right a {
    color: #b0cc5b;
    text-transform: lowercase;
}

.region-sidebar-left {
    display: inline;
    float: left;
    width: 25%;
    margin: 0 auto;
    border: 1px dotted #b0cc5b;
}

a.region-sidebar-right {
    color: #b0cc5b;
    font-family: serif;
    font-size: 1em;
    /* padding: 10px 20px 0 0; */
    vertical-align: sub;
    /* text-align: center; */
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

/* Breadcrumbs */
.outer-wrap-breadcrumb {}
.inner-wrap-breadcrumb {
    padding: 20px 0 0 20px;
    max-width: 1100px;
}
.region-breadcrumb {}
.breadcrumb-list {
    /* list-style: none;
    display: inline-block; */
}
.breadcrumb-list li::after {
    content: " /";
    color: #b0cc5b;
}

.breadcrumb-list li {
    display: inline;
}

.breadcrumb-list li  a {
    color: #b0cc5b;
    text-decoration: none;
    text-transform: lowercase;
}

.breadcrumb-list li  a:hover {
    color: #b0cc5b;
    text-decoration: underline;
}

/* Table of Contents */

.toc h4 {
    text-align: center;
}

/* Style the links */
.toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #b0cc5b; */
    /* border-top: 1px solid #333;
    border-bottom: 1px solid #333; */
}

.toc li {
    /* float: left; */
}

.toc li a {
    display: block;
    color: #b0cc5b;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

/* Change the color of links on hover */
.toc li a:hover {
    background-color: #b0cc5b;
    color: #fff;
}

.toc a {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #424242;
    font-family: serif;
    font-size: 1.1em;
    vertical-align: sub;
    text-align: center;
}

/* Add a color to the active/current link */
.toc a.active {
  background-color: #b0cc5b;
  color: white;
}

/* Don't know
.outer-wrap-after-main { }
.inner-wrap-columns-above {margin-bottom:24px}
.inner-wrap-main{padding-bottom:48px}
.article .block h4,
.columns-above .block h4,
.columns-below .block h4,
.sidebar .block h4{
}
.article .block h4 a,
.columns-above .block h4 a,
.columns-below .block h4 a
.sidebar .block h4 a{color:inherit;text-decoration:none} */

/*
.article .block h4 a:hover,
.columns-above .block h4 a:hover,
.columns-below .block h4 a:hover,
.sidebar .block h4 a:hover{
  color:#33f;text-decoration:underline}
  .article .block h4 a,.columns-above .block h4 a,.columns-below .block h4 a,.sidebar .block h4 a{
    display:block;text-decoration:none;transition:all .6s linear} */

    /* .article .block h4 a:hover,.columns-above .block h4 a:hover,.columns-below .block h4 a:hover,.sidebar .block h4 a:hover{
      color:#3B440D;text-shadow:0 0 1px #9FB129;text-decoration:underline} */


/* footer */
footer {
  padding-left: 4px;
  padding-right: 4px;
}

.outer-wrap-footer {
    background-color: #b0cc5b;
    padding-top: 24px;
    padding-bottom: 48px
}

.inner-wrap-footer {
    margin: 0 auto;
}
.region-footer {}

.site-footer {
  background-color: #424242;
  color: #b0cc5b;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 24px;
}

.footer-column-wrapper {
    margin: 0 auto;
}
/*
.footer-column-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-column-wrapper a {color: inherit;} */


/* Footer table */
.site-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer li {display: inline-block;}
.site-footer li::after{content: " • ";}
.site-footer li:last-child::after {content: none;}
.site-footer a {color: inherit;}

/* three column widget footer */
.footer-column {
    /* padding-top: 10px;
    padding-bottom: 20px; */
    display: inline;
    float: left;
    width: 33.3%;
    text-align: center;
}

.footer-column-x {
    /* padding-bottom: 24px; */
    padding-right: 1em;
    padding-left: 1em;
}

.footer-column-x h4 {
    text-transform: uppercase;
    /* border-bottom: 1px solid #999; */
}

/* Footer column 1 */
.footer-column-1 {}


/* Footer column 2 */
.footer-column-2 {}


/* Footer column 3 */
.footer-column-3 {}





/* .footer-column-1, .footer-column-2 {
    border-right: 1px solid #666;
} */
